.auth-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
}

.auth-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.auth-box input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

.auth-box button {
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.navbar {
  background: #222;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar button {
  background: red;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-container input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
}

.category-btn {
  background: #28a745;
}
